@import "../base/variables";
@import "../base/extends";
@import "../base/mixins";

body {background-color: #ff7f50;
    .inicio {padding-top: 20px; 
    padding-right: 40px ;
    padding-left: 40px;}
    .bg-color {
        background-color: #ff7f50;}
        .text-white {
            color: #e4e8ec;
          }
    .derechos {
       color:#e4e8ec;
       font-size: 12px; 
       position: fixed;
        right: 0;
       bottom: 0;}

      .img { width: 100%;}
}


