@import "../base/variables";
@import "../base/extends";
@import "../base/mixins";

body {background-color: ghostwhite;
    .inicio {padding-top: 20px; 
    padding-right: 40px ;
    padding-left: 40px;}


    .derechos {
       color:orange;
       font-size: 12px; 
       position: fixed;
        right: 0;
       bottom: 0;}

      .img { width: 100%;}
}


